In [73]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer

In [74]:
data = pd.read_csv('EASSY_data.csv')

In [75]:
data.head()

,Task_Type,Question,Essay,Examiner_Commen,Task_Response,Coherence_Cohesion,Lexical_Resource,Range_Accuracy,Overall
0,1,The bar chart below describes some changes abo...,"Between 1995 and 2010, a study was conducted r...",NaN,NaN,NaN,NaN,NaN,5.5
1,2,Rich countries often give money to poorer coun...,Poverty represents a worldwide crisis. It is t...,NaN,NaN,NaN,NaN,NaN,6.5
2,1,The bar chart below describes some changes abo...,The left chart shows the population change hap...,NaN,NaN,NaN,NaN,NaN,5.0
3,2,Rich countries often give money to poorer coun...,Human beings are facing many challenges nowada...,NaN,NaN,NaN,NaN,NaN,5.5
4,1,The graph below shows the number of overseas v...,Information about the thousands of visits from...,NaN,NaN,NaN,NaN,NaN,7.0

In [76]:
data.tail()

,Task_Type,Question,Essay,Examiner_Commen,Task_Response,Coherence_Cohesion,Lexical_Resource,Range_Accuracy,Overall
1430,2,Without capital punishment our lives are less ...,Serious crimes need capital punishment so that...,"You should rewrite it, giving more thought to ...",NaN,NaN,NaN,NaN,5.0
1431,2,Some people think that they can learn better b...,It is certainly said that learning is an ongoi...,Where are the paragraphs in this essay? You mu...,NaN,NaN,NaN,NaN,5.0
1432,2,Nowadays people like to change their day by da...,popular hobbies rather than their individual a...,I suggest that you read several essays that ha...,NaN,NaN,NaN,NaN,5.0
1433,2,Universities should allocate the same amount o...,"Yes, I do feel that universities should have a...","Your essay too short, the introduction is good...",NaN,NaN,NaN,NaN,5.0
1434,2,Modern medicine helps to live a longer life. D...,The modern medicine is very important for livi...,The structure of sentences is not very good he...,NaN,NaN,NaN,NaN,5.0

In [77]:
data.shape

(1435, 9)

In [78]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1435 entries, 0 to 1434
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Task_Type           1435 non-null   int64
 1   Question            1435 non-null   object
 2   Essay               1435 non-null   object
 3   Examiner_Commen     62 non-null     object
 4   Task_Response       0 non-null      float64
 5   Coherence_Cohesion  0 non-null      float64
 6   Lexical_Resource    0 non-null      float64
 7   Range_Accuracy      0 non-null      float64
 8   Overall             1435 non-null   float64
dtypes: float64(5), int64(1), object(3)
memory usage: 101.0+ KB

In [79]:
data.describe()

,Task_Type,Task_Response,Coherence_Cohesion,Lexical_Resource,Range_Accuracy,Overall
count,1435.000000,0.0,0.0,0.0,0.0,1435.000000
mean,1.552613,NaN,NaN,NaN,NaN,6.550174
std,0.497397,NaN,NaN,NaN,NaN,1.058237
min,1.000000,NaN,NaN,NaN,NaN,1.000000
25%,1.000000,NaN,NaN,NaN,NaN,6.000000
50%,2.000000,NaN,NaN,NaN,NaN,6.500000
75%,2.000000,NaN,NaN,NaN,NaN,7.000000
max,2.000000,NaN,NaN,NaN,NaN,9.000000

In [80]:
data.isnull().sum()

Task_Type                0
Question                 0
Essay                    0
Examiner_Commen       1373
Task_Response         1435
Coherence_Cohesion    1435
Lexical_Resource      1435
Range_Accuracy        1435
Overall                  0
dtype: int64

In [81]:
X = data.drop(columns = 'Overall' , axis = 1)
Y = data['Overall']

In [82]:
print(X)

      Task_Type                                           Question
0             1  The bar chart below describes some changes abo...  \
1             2  Rich countries often give money to poorer coun...
2             1  The bar chart below describes some changes abo...
3             2  Rich countries often give money to poorer coun...
4             1  The graph below shows the number of overseas v...
...         ...                                                ...
1430          2  Without capital punishment our lives are less ...
1431          2  Some people think that they can learn better b...
1432          2  Nowadays people like to change their day by da...
1433          2  Universities should allocate the same amount o...
1434          2  Modern medicine helps to live a longer life. D...

                                                  Essay
0     Between 1995 and 2010, a study was conducted r...  \
1     Poverty represents a worldwide crisis. It is t...
2     The left chart shows the population change hap...
3     Human beings are facing many challenges nowada...
4     Information about the thousands of visits from...
...                                                 ...
1430  Serious crimes need capital punishment so that...
1431  It is certainly said that learning is an ongoi...
1432  popular hobbies rather than their individual a...
1433  Yes, I do feel that universities should have a...
1434  The modern medicine is very important for livi...

                                        Examiner_Commen  Task_Response
0                                                   NaN            NaN  \
1                                                   NaN            NaN
2                                                   NaN            NaN
3                                                   NaN            NaN
4                                                   NaN            NaN
...                                                 ...            ...
1430  You should rewrite it, giving more thought to ...            NaN
1431  Where are the paragraphs in this essay? You mu...            NaN
1432  I suggest that you read several essays that ha...            NaN
1433  Your essay too short, the introduction is good...            NaN
1434  The structure of sentences is not very good he...            NaN

      Coherence_Cohesion  Lexical_Resource  Range_Accuracy
0                    NaN               NaN             NaN
1                    NaN               NaN             NaN
2                    NaN               NaN             NaN
3                    NaN               NaN             NaN
4                    NaN               NaN             NaN
...                  ...               ...             ...
1430                 NaN               NaN             NaN
1431                 NaN               NaN             NaN
1432                 NaN               NaN             NaN
1433                 NaN               NaN             NaN
1434                 NaN               NaN             NaN

[1435 rows x 8 columns]

In [83]:
X.head()

,Task_Type,Question,Essay,Examiner_Commen,Task_Response,Coherence_Cohesion,Lexical_Resource,Range_Accuracy
0,1,The bar chart below describes some changes abo...,"Between 1995 and 2010, a study was conducted r...",NaN,NaN,NaN,NaN,NaN
1,2,Rich countries often give money to poorer coun...,Poverty represents a worldwide crisis. It is t...,NaN,NaN,NaN,NaN,NaN
2,1,The bar chart below describes some changes abo...,The left chart shows the population change hap...,NaN,NaN,NaN,NaN,NaN
3,2,Rich countries often give money to poorer coun...,Human beings are facing many challenges nowada...,NaN,NaN,NaN,NaN,NaN
4,1,The graph below shows the number of overseas v...,Information about the thousands of visits from...,NaN,NaN,NaN,NaN,NaN

In [84]:
# X = news_dataset.drop(columns = 'label' , axis = 1
X = data['Essay'].values
Y = data['Overall'].values

In [85]:
print(X)

['Between 1995 and 2010, a study was conducted representing the percentages of people born in Australia, versus people born outside Australia, living in urban, rural, and town. First, in 1995, cities represented the major percentage of habitat by roughly 50 percent, followed by rural areas and towns came in last, among people born in Australia. On the other hand, people born outside Australia, cities showed the most percentages of 6o percent, followed by rural areas and towns. In 2010, among people born in Australia, cities had an increase more than 20 percent increase in the total representation and a major decrease in towns and rural areas. Conversely, people born outside Australia, cities had the most percentage among both studies, followed by rural areas and towns.'
 "Poverty represents a worldwide crisis. It is the ugliest epidemic in a region, which could infect countries in the most debilitating ways. To tackle this issue, rich countries need to help those in need and give a hand when possible. I agree that there are several ways of aiding poor countries other than financial aid, like providing countries in need with engineers, workers, and soldiers who would build infrastructure. Building universities, hospitals, and roadways. By having a solid infrastructure, poor countries would be able to monetise their profits and build a stronger and more profitable economy which would help them in the long term. Once unprivilged countries find their niche, the major hurdle would be passed and would definitely pave the way for much brighter future. However, I do disagree that financial aid does not solve poverty, it does if used properly and efficiently. The most determining factor if financial aid would be the way to go, is by identifying what type of poor countries' representative are dealing with. Some countries will have a responsible leader and some will not, with that being said, implementing a strategy, to distinguish responsible leaders from others, would tailor the type of aid rich countries could use. An example, A clear report and constant observation would be applied to track the progress and how this type of aid is being monetized. In summary, types of aid varies from country to another, and tailoring the type of aid is of paramount importance to solve this problem that had huge toll on poor countries."
 'The left chart shows the population change happened in Austrilia from 1995 to 2010. In 1995, half of the people born in australia are from cities, 30% from rural areas and only 20% are from towns. For the people outside of Australia, most of the people still born in cities, which is around 60%. but the number of rural areas increased to 40% with the towns born rate decreased to only 10%.\nIn 2010, The people born in cities increased significianly in both in and outside Australia, especially in outside Australia, which reached 80%. The people bore in towns decreased simutanuously, to around 17% of the people born in Australia and 10% of outside Australia respectively. The most significiant change happened at rual areas numbers. It has shrinked to 17% of people born in Australia, and only around 5% of peopel bore outside Australia.\nOverall, the chart shows us the trend that many people moved to Cities from rual area in the past 15 years.'
 ...
 'popular hobbies rather than their individual activities.Hobbies and are different for everyone; this is the human nature,. The current generations are very much in the latest trend which makes them happy and also them to make more money. For example, cricket is the most famous game in , children and playing it whenever they have free time in their daily life. This makes them become a star in this game when they reach a certain age in their life. In addition, this popularity will help them to make lots of money in their life. , there are many .Those aiming to spend more time to make money rather than on their own interests. However, some of them are not about the popular hobbies and interests. For instance, drinking alcohol is one of the popular hobbies low income and .In conclusion, spending more time popular hobbies and interests really depends on their . It may to become a star in their life or time with many friends.Avoid statements such as ‘This essay will explain the reason’, your essay should present a point of view including supporting information and examples. The essay needs to be easy to follow, and in addition your English should be accurate and appropriate.'
 'Yes, I do feel that universities should have an equal budget for their libraries as well as sport activities. It is our general belief that a good player can not be good student and hence we restrict our children’s sport activities at college level. Moreover, an academic degree has much more value than sport activities which naturally compels students to focus more on their studies than their interest in sport.Most of the universities keep sports at of their priority list, good players do not get enough facilities and to improve their skills and eventually they their interest.Universities can play substantial role in shaping this upcoming talent by providing good trainers and which is otherwise too expensive to afford. Also it will attract other students sports and inculcate importance of physical fitness in them.Universities should produce in all fields rather than only concentrating on progress of scholars. Hence, I feel that universities should allot equal amounts of money to as well as sport activities.'
 'The modern medicine is very important for living a long life. It on new technology. . Also modern medicine is human body. . Therefore I agree that the modern medicine to live longer.First of all, the modern medicine can prevent incurable diseases. Doctors can find some diseases very early. Then doctors can give suitable medicines to patients. New modern doctors . Also intelligent people in the world live a long life modern medicine. That is very important in the human society because their creative things are coming with them and they can help others for a longer time when they are living ., old population is increasing in the country. It is country’s economy and third world countries. But old people are very important in human society because their experience definitely helps to . ‘Experience is better than qualifications’ However, old people are living a long life; it is helping others to live a long life because we can get advice from them and they are covering our culture and society.Moreover, modern medicine is being addictive for some people, so that they cannot live without medicine. They should take medicine all their lives. Also modern medicine is very expensive. Therefore most of poor countries modern medicine and it has taken a commercial shape, also it is depending on money. In the modern medicine human kindness. People who have money can take modern medicine. But indigenous medicine has well human friendly shape. It does not depend on money.To summarize; in my personal view, modern medicine is helping to live a long life . Modern technologies are being supported to find diseases very early. So doctors can take immediately. Therefore, hesitate to agree with the above mentioned statement.Your essay has several confusing sentences, where your meaning is unclear.You mix advantages and disadvantages of the modern medicine in one paragraph when you should divide them – have advantages in one paragraph and disadvantages in another.If you agree with the statement, you should have 2 paragraphs supporting your opinion and one supporting the opposite opinion, in your essay it is 2 against and 1 for.']

In [86]:
print(Y)

[5.5 6.5 5.  ... 5.  5.  5. ]

In [87]:
Y.shape

(1435,)

In [88]:
X.shape

(1435,)

In [89]:
vectorizer = TfidfVectorizer()
vectorizer.fit(X)

X = vectorizer.transform(X)

In [90]:
print(X)

  (0, 13531)	0.032826970705999256
  (0, 13392)	0.09391030837957651
  (0, 13261)	0.06765961613798235
  (0, 12728)	0.3303685402469938
  (0, 12727)	0.06802631418543073
  (0, 12703)	0.05549663593544935
  (0, 12498)	0.08916516933585933
  (0, 12490)	0.027204142650087765
  (0, 12018)	0.05158811290315811
  (0, 12015)	0.06302952772802277
  (0, 11311)	0.06471251722416767
  (0, 10893)	0.32506268929934823
  (0, 10861)	0.07088313612598471
  (0, 10545)	0.08471725648254591
  (0, 10544)	0.07759534860434047
  (0, 10540)	0.09890709483698448
  (0, 9162)	0.13063748984395138
  (0, 9161)	0.0971937924641711
  (0, 9160)	0.19595623476592705
  (0, 9149)	0.13172960043958554
  (0, 8870)	0.18601484388213785
  (0, 8816)	0.02429987492998023
  (0, 8702)	0.020061882302225865
  (0, 8650)	0.044956707642711036
  (0, 8222)	0.06249688027572908
  :	:
  (1434, 3210)	0.04137291700167663
  (1434, 3177)	0.05095908533763578
  (1434, 3149)	0.04403576098380014
  (1434, 3147)	0.042179827613694834
  (1434, 2819)	0.06105437581392134
  (1434, 2573)	0.04731679926285953
  (1434, 2561)	0.03846371974675435
  (1434, 2030)	0.028616400227856765
  (1434, 2012)	0.08559190321674236
  (1434, 1960)	0.03185005944069593
  (1434, 1722)	0.03240388699228667
  (1434, 1620)	0.022145794610208273
  (1434, 1568)	0.04365947524207155
  (1434, 1514)	0.05531789302727905
  (1434, 1120)	0.06275646970063857
  (1434, 995)	0.021615649349523147
  (1434, 967)	0.07308348065048759
  (1434, 891)	0.05962011977845112
  (1434, 852)	0.030895779421158474
  (1434, 790)	0.07722649090871392
  (1434, 769)	0.033781536775085635
  (1434, 714)	0.04661562502037142
  (1434, 691)	0.05572288645129826
  (1434, 611)	0.052201296297816176
  (1434, 431)	0.02626224216200746

In [91]:
X.shape

(1435, 13889)

In [92]:
Y = data['Overall']. apply(lambda y_value : 2 if y_value < 2 else 2)
print(Y)

0       2
1       2
2       2
3       2
4       2
       ..
1430    2
1431    2
1432    2
1433    2
1434    2
Name: Overall, Length: 1435, dtype: int64

In [93]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, stratify=Y, random_state=2)

In [98]:
model = LogisticRegression()

model.fit(X_train, Y_train)

ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: 2